# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# local env files
.env
.env.*
.env*.local
.env.production
.env.development
.env.test

# vercel
.vercel

# miscellaneous
.DS_Store
*.pem
*.log
*.sqlite
*.sqlite3

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE files
.idea/
.vscode/
*.sublime*

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
